*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}
.header{
  width: 1000px;
  padding: 15px;
  background: #eaeaea;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__text{
  font-size: 32px;
  margin: 25px 0;
}

.button{
  border: 1px solid #000;
  padding: 8px 16px;
  font-size: 16px;
  color: #000;
  background: #b5b4b4;
  text-decoration: none;
  transition: all .3s;
}
.button:hover{
  background: #656568;
}
.button--add{
  align-self: flex-end;
}
.button--back{
  align-self: flex-start;
}
.button--delete{
 background: #FFF;
 border: 1px solid red;
 color: red;
}
.button--delete:hover{
  background: red;
  color: #FFF;
}
.button--cad{
  align-self: center;
}

.list__item{
  padding: 15px 30px;
  border: 1px solid #000;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item{
  margin-left: 8px;
  font-size: 22px;
}


.form{
  padding: 60px 0;
  border: 1px solid #000;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title{
  font-size: 28px;
  margin-bottom: 60px;
}
.form__box{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.box__label{
  font-size: 18px;
}
.box__input{
  width: 100%;
  margin: 8px 0 40px;
  padding: 8px;
  border: 1px solid #000;
  font-size: 16px;
}